@charset "utf-8";

main {
    width: 360px;
    margin: 0 auto;
    background-color: pink;
}

h1 {
    margin: 0;
    font-size: 22px;
    text-align: center;
}

textarea {
    width: 100%;
    box-sizing: border-box;
    height: 160px;
    font-size: 16px;
    padding: 8px;
}
